@use "../../../style/commonStyle/color";
@use '../../../style/commonStyle/mixins';
.wrapper {
  @include mixins.authBorder;
  @include mixins.smoothAppearanceAni(2s);
  border-color: color.$borderAuthColor;
  display:flex;
  justify-content: center;
  background: color.$authWrapperTransparent;
  padding: 10px;
}