@use '../../../style/commonStyle/color';
@use '../../../style/commonStyle/mixins';

.user {
  @include mixins.authBorder;
  @include mixins.smoothAppearanceAni(2s);
  @include mixins.addMarginTopAllChildren();
  border-color: color.$borderAuthColor;
  $padding: 10px;
  padding: $padding;
  background: color.$authWrapperTransparent;
}

.propertyWrapper {
  display: flex;
  @include mixins.addMinSizeFirstChild(300px);
  span {
    font-weight: bold;
    cursor: default;
  }
}
.userPropertyWrapper{
  @include mixins.addMarginTopAllChildren(5px);
}
