@use '../../../../style/commonStyle/color';
@use '../../../../style/commonStyle/mixins';
.user {
  @include mixins.authBorder;
  border-color: color.$borderAuthColor;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  background: color.$wrapperPaleBlue;
}
.userPhotoHover{
  cursor: pointer;
}
