@use '../../../style/SCSS/property';
@use '../../../style/SCSS/color';

.wrapper {
  display: inline-block;
  margin-right: 10px;
  max-width: property.$formikInputWidth;
}

.label {
  font-weight: bold;
}

.error {
  color: color.$formikError;
}

.inputError {
  color: color.$formikError;
  border-width: 2px;
  border-color: color.$formikError;
}

.inputFormik {
  background: none;
  font-size: 20px;
  width: property.$formikInputWidth;
  // Костыль необходимый, чтобы убрать все стили по умолчанию
  &:-webkit-autofill, -webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }

}
