@use '../../../../style/commonStyle/color';
@use '../../../../style/commonStyle/mixins';

.albumContent {
  @include mixins.authBorder();
  @include mixins.smoothAppearanceAni(2s);
  @include mixins.addMarginTopAllChildren();
  padding: 10px;
  background-color: color.$authWrapperTransparent;
}

.wrapper {
  @include mixins.addMarginTopAllChildren(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
}