@use '../../../style/commonStyle/mixins';
@use '../../../style/commonStyle/color';

.wrapper {
  max-width: none;
  display: inline-block;
  $placeholder_hover_color:white;
  $placeholder_hover_background: rgba(0, 0, 0, 0.4);
  @include mixins.textPlaceholder('Для подтверждения нажмите Enter.',$placeholder_hover_color,$placeholder_hover_background,
          $placeholder_hover_color,$placeholder_hover_background,-310px);
}

.label {
  display: inline-block !important;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.input {
  display: inline;
  text-decoration: underline;
  border: none;
}


