// pending
$pendingColor:rgba(240, 248, 255, 0.2);
// border
$borderAuthColor:rgba(22, 164, 224, 0.9);
$borderAuthColorNotOpacity:rgba(22, 164, 224);

$authLinkAni:black;
$lightTheme_wrapper_button: grey;
// buttons
$dark: #212121;
$buttonBlue:rgb(22, 164, 224, 0.9);
$buttonTextHover:black;
$buttonText:white;
//link
$linkActive: #ffa008;
// error
$formikError:red;
//underlineText
$underlineText:120deg, rgba(39, 167, 225, 1) 0%, rgba(0, 253, 254, 1);
//page


// AuthPage
//$authWrapper:aliceblue;
$authWrapperTransparent: rgba(240, 248, 255, 0.7);
$authWrapper: rgb(211,218,254);
//wrapperElements
$wrapperPaleBlue:rgb(153,186,221,0.73);
$wrapperPaleBlue2:rgb(153,186,221);
//Animation
$authFloatingSquaresBg:#8f94fb;
$authFloatingSquares:rgba(random(255), random(255), random(255), 0.7);


