@use '../SCSS/mixins';
@use '../SCSS/color';
$fontWeight: bolder;
.link {
    @include mixins.authLink;
}

.linkActive {
    color: color.$linkActive;
    text-decoration:underline;
    @include mixins.authLinkAni;
    @include mixins.authLink;
    &:hover{
        background-size: 100% 2px;
    }
}
