@use '../../../../style/commonStyle/mixins';
.formWrapper{
  @include mixins.smoothAppearanceAni();
  @include mixins.addMarginTopAllChildren();
  @include mixins.FormikFormAlign();
  h2{
    display: flex;
    justify-content: center;
  }
}
.inputWrapper {
  display: flex;
  @include mixins.addMarginLeftAllChildren(20px);
}