@use '../../../../style/commonStyle/mixins';
.formWrapper{
  @include mixins.smoothAppearanceAni();
  @include mixins.addMarginTopAllChildren();
  @include mixins.FormikFormAlign(center);
  h2{
    display: flex;
    justify-content: center;
  }
}
.inputWrapper{
  @include mixins.addMarginTopAllChildren();
  display: flex;
  flex-direction: column;
}
