@use "sass:math";
@use '../../../../style/commonStyle/color';
.photoWrapper {
    $circleSize:300px;
    width: $circleSize;
    height: $circleSize;
    border-radius: math.div($circleSize,2);
    overflow: hidden;
}
.userPhoto {
    width: inherit;
    height: inherit;
}
.pendingPhoto{
    background: color.$pendingColor;
}
