@use '../../../../style/commonStyle/color';
@use '../../../../style/commonStyle/mixins';
.profileWrapper{
    display: flex;
    @include mixins.authBorder();
    @include mixins.smoothAppearanceAni(2s);
    @include mixins.addMarginLeftAllChildren(10px);
    padding: 10px;
    background-color: color.$authWrapperTransparent;
}
.infoWrapper{
    @include mixins.addMarginTopAllChildren();
    width: 100%;
}
