@use "../../../style/commonStyle/mixins";

.trackWrapper {
  @include mixins.trackPageDisplay();
  @include mixins.addMarginTopExcludeFirstAndTwo();
}
.closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  transition: all 2s;
  cursor: pointer;
}
.addNewTrackBtn{
  @include mixins.centerAlign();
}