@use "../../../style/commonStyle/color";

.titleName {
  font-weight: bold;
  margin-bottom: 5px;
  min-width: 160px;

}
.description {

  margin-bottom: 5px;
}
.wrapper{
  cursor: default;
  display: flex;
}