@use '../../../style/commonStyle/mixins';
@use '../../../style/commonStyle/color';

.menuDefault {
  @include mixins.smoothAppearanceAni(2s);
  @include mixins.authBorder();
  $padding: 5px;
  width: 300px;
  padding: $padding 15px $padding $padding;
  background-color: color.$authWrapper;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -$padding*3;
  margin-right: -(4px+$padding*2);
}