@use '../../../style/commonStyle/color';
@use '../../../style/commonStyle/mixins';

.burgerWrapper {
  $burgerBgColor: color.$borderAuthColorNotOpacity;
  @include mixins.burgerWrapper(0, 0);

  .icon {
    @include mixins.burgerIcon($burgerBgColor,8px, 60px);

    &:before {
      @include mixins.burgerIcon($burgerBgColor,8px, 60px, -20px);
    }

    &:after {
      @include mixins.burgerIcon($burgerBgColor,8px, 60px, 20px);
    }
  }

  &.open {
    .icon {
      transition: 0.5s;

      &:before {
        transform: rotateZ(-45deg) scaleX(0.75) translate(-20px, -6px);
      }

      &:after {
        transform: rotateZ(45deg) scaleX(0.75) translate(-20px, 6px);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
