* {
    margin: 0;
}
html {
    font-size: 20px;
}
body {
    position: relative;
    /*display: flex;*/
    /*justify-content: center;*/
}
a {
    text-decoration: none;
}

/*.link {*/
/*    color: white;*/
/*}*/


/*.active {*/
/*    color: #ee7e36;*/
/*    -webkit-animation: pulsate 3s linear infinite;*/
/*    animation: pulsate 3s linear infinite;*/
/*}*/

/*@-webkit-keyframes pulsate {*/
/*    50% {*/
/*        color: #d1b810;*/
/*        text-shadow: 0 0 5px orange;*/
/*    }*/
/*}*/

/*@keyframes pulsate {*/
/*    50% {*/
/*        color: #d1b810;*/
/*        text-shadow: 0 0 5px orange;*/
/*    }*/
/*}*/