@use '../../../../style/commonStyle/color';
@use '../../../../style/commonStyle/mixins';
// Колличество элементов и их настройки.Можно увеличить или уменьшить без проблем.
$elements: [25%,80px,0s,0s] [10%,20px,2s,12s] [70%,20px,4s,0s] [40%,60px,0s,18s] [65%,20px,0s,0s] [75%,110px,3s,0s] [35%,150px,7s,0s] [50%,25px,15s,45s] [20%,15px,2s,35s] [85%,150px,0s,11s];
// need for correct work component
:export {
  circlesElementCount: length($elements);
}

.animationWrapper {
  background: -webkit-linear-gradient(to left, #8f94fb, color.$authFloatingSquaresBg);
  background: color.$authFloatingSquaresBg;
  @include mixins.authAnimationWrapper;
}

.circles {
  @include mixins.authAnimationWrapper;
}

.circles li {
  @include mixins.authAnimationCircle($elements);
  @include mixins.authBgAnimation;
  position: absolute;
  display: block;
  list-style: none;
  background: color.$authFloatingSquares;
  bottom: -150px;
}




