@use '../../../style/commonStyle/color';
@use '../../../style/commonStyle/mixins';
.nav {
  @include mixins.authBorder(9px);
  margin-top: 10px;
  padding: 10px;
  background-color: color.$authWrapper;
  position: absolute;
  transition: all 0.3s ease-in;
  width: 140px;
}
.navWrapper{
  position: absolute;
  top: 0;
}